body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background: transparent
}

.btn-primary {
    background-color: green;
    color: #fff
}

.close {
    position: relative;
    top: 50px;
    left: 15px;
    z-index: 1;
    font-size: 30px;
    line-height: 1;
    color: black
}

.modal.fade.show {
    background: #151718;
    padding-left: 15px;
    padding-right: 15px
}

.modal-content {
    border: none;
    background: transparent;
    padding: 0 19px
}

.modal-header {
    border: none
}

.modal-body {
    border: none;
    background-color: white;
    padding-bottom: 5px
}

.close.focus,
.close:focus {
    outline: 0;
    box-shadow: none !important
}

h1 {
    font-weight: bold;
    padding-top: 120px
}

small.para {
    font-weight: bold;
    color: #6c757d;
    font-size: 15px
}

@media (min-width:599px) {
    .modal-dialog {
        max-width: 45rem
    }

    .details {
        padding: 60px 20px 20px 50px
    }

    div.jkl:after {
        content: '.';
        font-size: 0;
        display: block;
        height: 2px;
        width: 70%;
        background: #6c757d
    }

    .btn-dark {
        width: 70%;
        height: 45px;
        border: 1px solid black;
        background: #151718;
        color: #dae0e5
    }
}

div.form-control:focus {
    border-color: #fff !important;
    outline: 0;
    top: 0;
    left: 0
}

.form-control:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, .25) !important
}

.form-control.inp input[type=email]:focus {
    border: none
}

.rone {
    margin-top: 30px
}

.form-control.inp {
    border: none;
    padding-left: 0;
    font-weight: bold;
    font-color: black
}

div.jkl:after {
    content: '.';
    font-size: 0;
    display: block;
    height: 2px;
    width: 70%;
    background: #6c757d
}

.btn-dark {
    width: 70%;
    height: 45px;
    border: 1px solid black;
    background: #151718;
    color: #dae0e5
}